// Body
$body-bg: #f8fafc;

// Fonts
$font-family-base: "Noto Sans JP", sans-serif;

// Colors
$white01: #ffffff;
$white02: #DCDCDC;
$black01: #000000;
$black02: #222222;
$gray01: #666666;
$purple01: #6454DB;
$purple02: #6675F3;

// user heder background-color
$user-header-bg: linear-gradient(90deg, #6454DB, #6675F3 40%, #6454DB);
$user-sidebar-hover: rgba(100, 84, 219, 0.2);

// admin header background-color
$admin-header-bg: linear-gradient(90deg, #222222, #666666);
$admin-sidebar-hover: rgba(34, 34, 34, 0.2);
