@import "bootstrap/scss/functions";
@import "variables";
@import "bootstrap/scss/bootstrap";

// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

@import "admin/admin";
@import "login/index";
@import "common/base";
@import "common/common";
@import "user/top";
@import "user/user-common";
@import "user/staff/index";
@import "user/staff/edit";


//　default
html, body {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $black01;
}

p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 27px;
  font-weight: bold;
}

.base__content {
  height: calc(100vh - 75px);
  overflow: auto;
}