.user-staff-edit {
    &__form {
        width: 80%;
        margin: 35px auto 0;

        .table-title {
            background-color: $white03;
        }

        .table-data {
            background-color: $white01;

            &.time {
                width: 295px;
            }
        }

        textarea {
            width: 100%;
            ;
        }
    }
}